.adminPortfolioForm {
    margin-top: 70px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-image: var(--backgroundImage);
    filter: var(--filter);
    -webkit-filter: var(--filter);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.adminPortfolioFormTitle {
    margin-bottom: 10px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    background: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.adminPortfolioFormGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminPortfolioFormInput {
    min-width: 300px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--colorBurger);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 5px;
    color: #fff;
    background: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 16px;
}

.uploadPortfolioLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    border-radius: 4px;
    padding: 8px;
    background-image: var(--backgroundHeader);
    cursor: pointer;
    color: var(--colorBurger);
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
    filter: var(--filter);
    -webkit-filter: var(--filter);
}

.uploadPortfolioLabel:hover {
    transform: scale(1.1);
}

.inputFile {
    display: none;
}

.selectedImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.removeImageButton {
    padding: 5px;
    background: var(--backgroundHeader);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    color: var(--colorBurger);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    filter: var(--filter);
    -webkit-filter: var(--filter);
}

.removeImageButton:hover {
    opacity: 0.7;
}

.validationError {
    color: red;
    text-align: center;
}

.createFormButton {
    padding: 10px;
    background-image: var(--backgroundHeader);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    color: var(--colorBurger);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    filter: var(--filter);
    -webkit-filter: var(--filter);
}

.createFormButton:hover {
    opacity: 0.7;
}

.createFormButton:disabled {
    background: -webkit-linear-gradient(to right, #313030, #575756);
    background: -moz-linear-gradient(to right, #313030, #575756);
    background: -o-linear-gradient(to right, #313030, #575756);
    background: linear-gradient(to right, #313030, #575756);
}

.createFormButtonWrapper {
    display: flex;
    gap: 10px;
}

.textChangePortfolio {
    margin-top: 10px;
    color: lightgreen;
}