.adminCommentTitle {
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    background: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.adminCommentList {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    background-image: var(--backgroundImage);
    filter: var(--filter);
    -webkit-filter: var(--filter);
    padding: 20px;
}

.adminCommentItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    background-image: var(--backgroundImage);
    filter: var(--filter);
    -webkit-filter: var(--filter);
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.adminChangePanel {
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-image: var(--backgroundImage);
    filter: var(--filter);
    -webkit-filter: var(--filter);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.adminChangePanelItem {
    cursor: pointer;
}

.adminCommentImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    background: var(--backgroundFirst);
}

.adminCommentImg {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}

.adminCommentName {
    color: #fff;
    background: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 16px;
    text-align: center;
}

.adminCommentText {
    word-break: break-all;
    color: aqua;
    background: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 16px;
    line-height: 23px;
}

.adminCommentEditPanel {
    display: flex;
    align-items: center;
    gap: 5px;
}

.adminCommentTextarea {
    max-width: 300px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--colorBurger);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 5px;
    color: var(--colorBurger);
    background: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 16px;
}

.adminCommentBtnSave {
    padding: 10px;
    background: var(--backgroundHeader);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    color: var(--colorBurger);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    filter: var(--filter);
    -webkit-filter: var(--filter);
}

.adminCommentBtnSave:hover {
    opacity: 0.7;
}