.commentsTitle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-image: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}