.changePasswordTitle {
    max-width: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: -webkit-linear-gradient(to right, #f12711, #f5af19);
    background: -moz-linear-gradient(to right, #f12711, #f5af19);
    background: -o-linear-gradient(to right, #f12711, #f5af19);
    background: linear-gradient(to right, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(3px 3px 15px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(3px 3px 15px rgba(255, 255, 255, 0.5));
}

.changePasswordForm {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    border-radius: 5px;
    background-image: var(--backgroundImage), var(--backgroundFirst);
    filter: var(--filter);
    -webkit-filter: var(--filter);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.changePasswordFormGroup {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.changePasswordFormInput {
    min-width: 300px;
    background-color: transparent;
    outline: none;
    border: 1px solid orange;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 5px;
    color: #fff;
    background: -webkit-linear-gradient(to right, #f12711, #f5af19);
    background: -moz-linear-gradient(to right, #f12711, #f5af19);
    background: -o-linear-gradient(to right, #f12711, #f5af19);
    background: linear-gradient(to right, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 16px;
    filter: drop-shadow(3px 3px 15px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(3px 3px 15px rgba(255, 255, 255, 0.5));
}

.changePasswordFormInput::placeholder {
    color: #fff;
    background: -webkit-linear-gradient(to right, #f12711, #f5af19);
    background: -moz-linear-gradient(to right, #f12711, #f5af19);
    background: -o-linear-gradient(to right, #f12711, #f5af19);
    background: linear-gradient(to right, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    opacity: 0.6;
}

.validationError {
    color: red;
    text-align: center;
}

.changePasswordShow {
    cursor: pointer;
}

.btnChange {
    padding: 10px;
    background: -webkit-linear-gradient(to right, #f12711, #f5af19);
    background: -moz-linear-gradient(to right, #f12711, #f5af19);
    background: -o-linear-gradient(to right, #f12711, #f5af19);
    background: linear-gradient(to right, #f12711, #f5af19);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    color: rgb(35, 35, 35);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    filter: drop-shadow(3px 3px 15px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(3px 3px 15px rgba(255, 255, 255, 0.5));
}

.btnChange:hover {
    opacity: 0.7;
}