.techWrapper {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    filter: drop-shadow(3px 3px 7px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(3px 3px 7px rgba(255, 255, 255, 0.5));
}

.techList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-image: var(--backgroundFirst);
    border-radius: 8px;
    padding: 10px;
}

.techLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.techImageWrapper {
    filter: drop-shadow(3px 3px 7px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(3px 3px 7px rgba(255, 255, 255, 0.5));
}

.techImage {
    object-fit: contain;
}

.techTitle {
    color: gold;
    background: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}