.techWrapper {
    display: flex;
    margin-bottom: 20px;
    box-shadow: var(--boxShadowTechList);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.techList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    background-image: var(--backgroundTechList);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px;
}

.techLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    filter: var(--filter);
    -webkit-filter: var(--filter);
}

/* .techImageWrapper {
    filter: var(--filter);
    -webkit-filter: var(--filter); 
}
*/

.techImage {
    object-fit: contain;
}

.techTitle {
    color: gold;
    background: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}