.techWrapper {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    filter: var(--filter);
    -webkit-filter: var(--filter);
}

.techList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    background-color: transparent;
    background-image: var(--backgroundImage), var(--backgroundFirst);
    border-radius: 8px;
    padding: 10px;
}

.techLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

/* .techImageWrapper {
    filter: var(--filter);
    -webkit-filter: var(--filter); 
}
*/

.techImage {
    object-fit: contain;
}

.techTitle {
    color: gold;
    background: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}