* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body[data-theme='dark'] {
  --backgroundFirst: linear-gradient(to bottom, #434343, #000000);
  --colorText: linear-gradient(to right, #f12711, #f5af19);
  --colorSelectLanguage: orange;
  --colorBurger: orange;
}

body[data-theme='light'] {
  --backgroundFirst: linear-gradient(to right, #b2fefa, #0ed2f7);
  --colorText: linear-gradient(to right, #232526, #414345);
  --colorSelectLanguage: black;
  --colorBurger: #232526;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: var(--backgroundFirst);
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
}