.adminIconHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    filter: drop-shadow(3px 3px 15px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(3px 3px 15px rgba(255, 255, 255, 0.5));
}

.adminIcon {
    display: block;
    color: black;
}