.forgotPasswordBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordTitle {
    max-width: 300px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: -webkit-linear-gradient(to right, #f12711, #f5af19);
    background: -moz-linear-gradient(to right, #f12711, #f5af19);
    background: -o-linear-gradient(to right, #f12711, #f5af19);
    background: linear-gradient(to right, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.formWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.formLoginInput {
    min-width: 300px;
    background-color: transparent;
    outline: none;
    border: 1px solid orange;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 5px;
    color: #fff;
    background: -webkit-linear-gradient(to right, #f12711, #f5af19);
    background: -moz-linear-gradient(to right, #f12711, #f5af19);
    background: -o-linear-gradient(to right, #f12711, #f5af19);
    background: linear-gradient(to right, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 16px;
}

.validationError {
    position: absolute;
    bottom: -30px;
    color: red;
    text-align: center;
}

.btnForgotPass {
    padding: 10px;
    background: -webkit-linear-gradient(to right, #f12711, #f5af19);
    background: -moz-linear-gradient(to right, #f12711, #f5af19);
    background: -o-linear-gradient(to right, #f12711, #f5af19);
    background: linear-gradient(to right, #f12711, #f5af19);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    color: rgb(35, 35, 35);
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    filter: drop-shadow(3px 3px 15px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(3px 3px 15px rgba(255, 255, 255, 0.5));
}

.btnForgotPass:hover {
    opacity: 0.7;
}