.header {
    padding: 10px;
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #434343, #000000);
    background: linear-gradient(to bottom, #434343, #000000);
    box-shadow: 0px 2px 8px rgba(251, 249, 249, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}