.header {
    padding: 10px;
    background-image: var(--backgroundFirst);
    box-shadow: 0px 2px 8px rgba(251, 249, 249, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}