.btnLogout {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    filter: drop-shadow(3px 3px 10px rgba(255, 255, 255, 0.7));
    -webkit-filter: drop-shadow(3px 3px 10px rgba(255, 255, 255, 0.7));
    color: gold;
    background: linear-gradient(to right, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
    cursor: pointer;
}

.btnLogout:hover {
    color: aqua;
    background: linear-gradient(to right, #b2fefa, #0ed2f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}