.btnLogout {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: gold;
    background: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
    cursor: pointer;
}

.btnLogout:hover {
    color: aqua;
    background: linear-gradient(to right, #607c5b, #0ab794);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}