.promoWrapper {
    display: flex;
    background-image: url('/fon.png');
    background-repeat: no-repeat;
    background-position: left;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

@media screen and (max-width:850px) {

    .promoWrapper {
        background-position: -70px 100px;
    }
}

@media screen and (max-width:400px) {

    .promoWrapper {
        background-position: -300px 200px;
    }
}

.promoWrapperBlockInfo {
    width: 50%;
    padding-top: 130px;
}

.promoWrapperBlockTitle {
    font-size: 67px;
    margin-bottom: 15px;
    text-align: center;
    color: #222;
    background: linear-gradient(to right, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media screen and (max-width:1050px) {

    .promoWrapperBlockTitle {
        font-size: 48px;
    }
}

@media screen and (max-width:603px) {

    .promoWrapperBlockTitle {
        font-size: 38px;
    }
}

@media screen and (max-width:482px) {

    .promoWrapperBlockTitle {
        font-size: 28px;
    }
}

@media screen and (max-width:360px) {

    .promoWrapperBlockTitle {
        font-size: 22px;
    }
}

@keyframes shineEffect {
    0% {
        background-position: -200% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}


.promoWrapperBlockSubTitle {
    color: #28A745;
    background: -webkit-linear-gradient(to right, #f12711, #f5af19);
    background: -moz-linear-gradient(to right, #f12711, #f5af19);
    background: -o-linear-gradient(to right, #f12711, #f5af19);
    background: linear-gradient(to right, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    background-size: 200% auto;
    animation: shineEffect 5s linear infinite;
}

@media screen and (max-width:1050px) {

    .promoWrapperBlockSubTitle {
        font-size: 30px;
    }
}

@media screen and (max-width:603px) {

    .promoWrapperBlockSubTitle {
        margin-bottom: 40px;
    }
}

@media screen and (max-width:482px) {

    .promoWrapperBlockSubTitle {
        font-size: 18px;
    }
}

.promoWrapperBlockPhoto {
    width: 50%;
}


.promoWrapperImageBox {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    padding-top: 120px;
    padding-right: 110px;
}

@media screen and (max-width:810px) {
    .promoWrapperImageBox {
        padding-top: 190px;
        padding-right: 80px;
    }
}

@media screen and (max-width:665px) {
    .promoWrapperImageBox {
        padding-top: 130px;
    }
}

@media screen and (max-width:445px) {
    .promoWrapperImageBox {
        padding-right: 20px;
    }
}

.promoWrapperImage {
    width: 50%;
    height: auto;
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5));
    -webkit-filter: saturate(20%);
    filter: saturate(20%);
    transition: filter 0.4s;
    -webkit-transition: filter 0.4s;
    -moz-transition: filter 0.4s;
    -ms-transition: filter 0.4s;
    -o-transition: filter 0.4s;
}

.promoWrapperImage:hover {
    -webkit-filter: saturate(120%);
    filter: saturate(120%);
}

@media screen and (max-width:665px) {
    .promoWrapperImage {
        width: 330px;
        height: auto;
    }
}

.buttonWrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width:570px) {
    .buttonWrapper {
        position: relative;
        z-index: 10;
    }
}


@keyframes changeColor {
    0% {
        color: aqua;
    }

    50% {
        color: yellow;
    }

    100% {
        color: aqua;
    }
}

.downloadLink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #f12711, #f5af19);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: rgb(55, 44, 44);
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.2s;
    -webkit-transition: transform 0.3s, box-shadow 0.2s;
    -moz-transition: transform 0.3s, box-shadow 0.2s;
    -ms-transition: transform 0.3s, box-shadow 0.2s;
    -o-transition: transform 0.3s, box-shadow 0.2s;
}

@media screen and (max-width:1050px) {
    .downloadLink {
        padding: 10px;
    }
}

@media screen and (max-width:470px) {
    .downloadLink {
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }
}

.downloadLink:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation: changeColor 1s infinite;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.downloadLink:active {
    transform: scale(0.95);
    box-shadow: none;
}

.about {
    filter: drop-shadow(3px 3px 15px rgba(255, 255, 255, 0.5));
    text-align: justify;
    font-size: 21px;
    background: linear-gradient(to right, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: drop-shadow(3px 3px 15px rgba(255, 255, 255, 0.5));
}

.shadow {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 30px;
    background: #000000;
    background: linear-gradient(to bottom, #434343, #000000);
    background: -webkit-linear-gradient(to bottom, #434343, #000000);
}


.promoWrapperAboutLink {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: linear-gradient(to right, #f12711, #f5af19);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 450px;
    animation: pulse 1s infinite;
}

@media screen and (max-width:850px) {
    .promoWrapperAboutLink {
        margin-top: 250px;
    }
}

@media screen and (max-width:810px) {
    .promoWrapperAboutLink {
        margin-top: 250px;
    }
}

@media screen and (max-width:650px) {
    .promoWrapperAboutLink {
        margin-top: 150px;
    }
}

@media screen and (max-width:604px) {
    .promoWrapperAboutLink {
        margin-top: 240px;
        justify-content: start;
        font-size: 30px;
        margin-left: 20px;
    }
}

@media screen and (max-width:515px) {
    .promoWrapperAboutLink {
        margin-top: 210px;
    }
}

@media screen and (max-width:482px) {
    .promoWrapperAboutLink {
        font-size: 20px;
    }
}

@media screen and (max-width:470px) {
    .promoWrapperAboutLink {
        margin-top: 190px;
        justify-content: center;
    }
}

@media screen and (max-width:400px) {
    .promoWrapperAboutLink {
        display: none;
    }
}