.promoWrapper {
    display: flex;
    background-image: url('/fon.png');
    background-repeat: no-repeat;
    background-position: left;
}

body[data-theme='light'] .promoWrapper {
    background-image: url('/fonwhite.png');
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width:472px) {
    body[data-theme='light'] .promoWrapper {
        background-position: -10px 100px;
    }
}

@media screen and (max-width:850px) {
    .promoWrapper {
        background-position: -70px 100px;
    }
}

@media screen and (max-width:400px) {

    .promoWrapper {
        background-position: -300px 200px;
    }
}

.promoWrapperBlockInfo {
    width: 50%;
    padding-top: 130px;
}

.promoWrapperBlockTitle {
    font-size: 67px;
    margin-bottom: 15px;
    text-align: start;
    color: #222;
    background-image: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media screen and (max-width:1050px) {

    .promoWrapperBlockTitle {
        font-size: 48px;
    }
}

@media screen and (max-width:603px) {

    .promoWrapperBlockTitle {
        font-size: 38px;
    }
}

@media screen and (max-width:482px) {

    .promoWrapperBlockTitle {
        font-size: 28px;
    }
}

@media screen and (max-width:360px) {

    .promoWrapperBlockTitle {
        font-size: 22px;
    }
}

@keyframes shineEffect {
    0% {
        background-position: -200% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}


.promoWrapperBlockSubTitle {
    color: #28A745;
    background-image: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: start;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    background-size: 200% auto;
    animation: shineEffect 10s linear infinite;
    -webkit-animation: shineEffect 10s linear infinite;
}

@media screen and (max-width:1050px) {

    .promoWrapperBlockSubTitle {
        font-size: 30px;
    }
}

@media screen and (max-width:603px) {

    .promoWrapperBlockSubTitle {
        margin-bottom: 40px;
    }
}

@media screen and (max-width:482px) {

    .promoWrapperBlockSubTitle {
        font-size: 18px;
    }
}

.promoWrapperBlockPhoto {
    position: relative;
    width: 50%;
}


.promoWrapperImageBox {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    padding-top: 120px;
    padding-right: 110px;
    filter: var(--filter);
    -webkit-filter: var(--filter);
}

@media screen and (max-width:810px) {
    .promoWrapperImageBox {
        padding-top: 190px;
        padding-right: 80px;
    }
}

@media screen and (max-width:665px) {
    .promoWrapperImageBox {
        padding-top: 130px;
    }
}

@media screen and (max-width:445px) {
    .promoWrapperImageBox {
        padding-right: 20px;
    }
}

.promoWrapperImage {
    width: 200px;
    height: auto;
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5));
    -webkit-filter: saturate(20%);
    filter: saturate(20%);
    transition: filter 0.4s;
    -webkit-transition: filter 0.4s;
    -moz-transition: filter 0.4s;
    -ms-transition: filter 0.4s;
    -o-transition: filter 0.4s;
}

.promoWrapperImage:hover {
    -webkit-filter: saturate(120%);
    filter: saturate(120%);
}

@media screen and (max-width:665px) {
    .promoWrapperImage {
        width: 330px;
        height: auto;
    }
}

.promoWrapperImageWhiteTheme {
    width: 300px;
    height: auto;
    filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.5));
    -webkit-filter: saturate(20%);
    transition: filter 0.4s;
    -webkit-transition: filter 0.4s;
    -moz-transition: filter 0.4s;
    -ms-transition: filter 0.4s;
    -o-transition: filter 0.4s;
}

@media screen and (max-width:665px) {
    .promoWrapperImageWhiteTheme {
        position: absolute;
        bottom: 0;
        right: 0;
        top: 150px;
    }
}

@media screen and (max-width:482px) {
    .promoWrapperImageWhiteTheme {
        top: 120px;
    }
}

@media screen and (max-width:471px) {
    .promoWrapperImageWhiteTheme {
        top: 150px;
        width: 200px;
    }
}

.promoWrapperImageWhiteTheme:hover {
    -webkit-filter: saturate(120%);
    filter: saturate(120%);
}

.buttonWrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width:570px) {
    .buttonWrapper {
        position: relative;
        z-index: 10;
    }
}


@keyframes changeColor {
    0% {
        color: aqua;
    }

    50% {
        color: yellow;
    }

    100% {
        color: aqua;
    }
}

.downloadLink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: var(--boxShadowTechList);
    background-image: var(--backgroundHeader);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: var(--colorBurger);
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border: 1px solid #888;
    filter: var(--filter);
    -webkit-filter: var(--filter);
}

.downloadLink::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 7px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

@media screen and (max-width:1050px) {
    .downloadLink {
        padding: 10px;
    }
}

@media screen and (max-width:470px) {
    .downloadLink {
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }
}

.downloadLink:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation: changeColor 1s infinite;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.downloadLink:active {
    transform: scale(0.95);
    box-shadow: none;
}

.shadow {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 30px;
    border: 1px solid #888;
    box-shadow: var(--boxShadow);
}

body[data-theme='light'] .shadow {
    border: 5px solid rgba(0, 0, 0, 0.4);
}


.shadow::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-image: var(--backgroundHeader), var(--backgroundFirst);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

body[data-theme='light'] .shadow::after {
    background-color: transparent;
}

.about {
    text-align: justify;
    font-size: 21px;
    background-image: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(1px 1px 5px rgba(5, 5, 5, 0.5));
    -webkit-filter: drop-shadow(1px 1px 5px rgba(5, 5, 5, 0.5));
}