.contactsWrapper {
    margin-top: 100px;
    position: relative;
    width: 90%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-image: url('/fon-contacts.JPG');
    filter: var(--filter);
    -webkit-filter: var(--filter);
}

.contactsTitle {
    color: #222;
    background-image: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    max-width: 200px;
}

.contactsList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 10px;
}

.contactsListLink {
    color: var(--colorBurger);
    transition: color .4s;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -ms-transition: color .4s;
    -o-transition: color .4s;
}

.contactsListLink:hover {
    color: gray;
}

.contactImgWrapper {
    display: flex;
    justify-content: flex-end;
    filter: var(--filter);
    -webkit-filter: var(--filter);
}

.contactImg {
    max-width: 100%;
    height: auto;
    filter: var(--filter);
    -webkit-filter: var(--filter);
    filter: saturate(10%);
    transition: filter .4s;
    -webkit-transition: filter .4s;
    -moz-transition: filter .4s;
    -ms-transition: filter .4s;
    -o-transition: filter .4s;
}

.contactImg:hover {
    filter: saturate(120%);
    -webkit-filter: saturate(120%);
}
