.themeSwitcherBox {
    margin-right: 20px;
    filter: var(--filter);
    -webkit-filter: var(--filter);
}

.themeSwitcherBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}