.navigation {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.logo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: gold;
    background: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
}

.subTitleLogo {
    font-size: 10px;
    letter-spacing: 12px;
}

.burgerWrapper {
    margin-left: auto;
}

.authNavWrapper {
    margin-left: auto;
    margin-right: auto;
}

.navigationList {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 845px) {
    .navigationList {
        display: none;
    }
}

.navigationItem {
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.navigationItem a {
    margin-left: auto;
    background: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: .4s ease;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationItem a:hover {
    color: gray;
    background-image: var(--backgroundFirst);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navigationItem a:before {
    left: 0;
    bottom: 66.66%;
}

.navigationItem:before {
    right: 0;
    top: 33.33%;
}

.navigationItem:after {
    left: 0;
    bottom: 0;
}


.navigationItem:hover a:before {
    width: 100%;
}

.navigationItem:hover:before,
.navigationItem:hover:after {
    width: 100%;
}

.navigationItem a:before,
.navigationItem:before,
.navigationItem:after {
    content: '';
    position: absolute;
    height: 33.33%;
    width: 0;
    background: var(--colorText);
    transition: .4s ease;
    z-index: -1;
}

.navigationItem .activeLink {
    color: aqua;
    background: linear-gradient(to right, #607c5b, #0ab794);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    border: none;
    background-color: transparent;
    color: gold;
    margin-right: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.themeAndLanguageBox {
    display: flex;
    justify-content: center;
    align-items: center;
}