.themeSwitcherBox {
    margin-right: 20px;
}

@media (max-width: 480px) {
    .themeSwitcherBox {
        margin-right: 0;
    }
}

.themeSwitcherBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}