.aboutTitle {
    font-size: 47px;
    margin-bottom: 15px;
    text-align: center;
    color: #222;
    background-image: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 90px;
}


.aboutHeroImg {
    width: 300px;
    height: 300px;
    padding: 10px;
    background-size: 200% 200%;
    box-shadow: 10px 10px 10px rgba(245, 240, 240, 0.2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    filter: var(--filter);
    -webkit-filter: var(--filter);
}

.aboutWorkImg {
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-filter: saturate(20%);
    filter: saturate(20%);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.aboutWorkImg:hover {
    filter: saturate(150%);
    -webkit-filter: saturate(150%);
}

.workList {
    width: 95%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}


.workListItem {
    display: flex;
    max-width: 100%;
    gap: 20px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(245, 240, 240, 0.2);
    background-color: transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

@media screen and (max-width:840px) {
    .workListItem {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}


.workListItem:nth-child(even) {
    flex-direction: row-reverse;
}

.workListImage {
    max-width: 100%;
    object-fit: cover;
    -webkit-filter: saturate(20%);
    filter: saturate(20%);
    transition: filter 0.9s ease, opacity 0.9s ease;
    -webkit-transition: filter 0.5s ease, opacity 0.5s ease;
    -moz-transition: filter 0.9s ease, opacity 0.9s ease;
    -ms-transition: filter 0.9s ease, opacity 0.9s ease;
    -o-transition: filter 0.9s ease, opacity 0.9s ease;
    -webkit-transition: filter 0.9s ease, opacity 0.9s ease;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.workListImage:hover {
    filter: saturate(150%);
    -webkit-filter: saturate(150%);
}

.workListInfoWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.workListInfoWrapperTitle {
    text-align: center;
    background-image: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.workListInfoWrapperData {
    background-image: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.workListInfoWrapperRegion {
    background-image: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.workListInfoWrapperList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: var(--colorText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}